.sidebar-icon {
    cursor: pointer;
    color: chocolate; /* Change the color as needed */
    font-size: 28px; /* Adjust the size as needed */
    padding-left: 10px; /* Add margin as needed */
    background-color: #211414;
  }