.body_webMain {
    box-sizing: border-box;
    overflow-y: auto;
    width: 80%;
    height: 100%;
    background: #160D0D;
    right: 0;
    position: absolute;
    transition:  width 0.5s ease;
    word-wrap: break-word;
}
