@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.login-header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px 100px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.login-body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('./wallpaper/bgtest.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.login-logo{
    font-size: 2em;
    color: chocolate;
    user-select: none;
}

.login-navigation{
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.login-navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform: scale(0);
    transform-origin: right;
    transition: transfrom .5s;
}

.login-navigation a:hover::after{
    transform-origin: left;
transform: scale(1);
}

.login-navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 40px;
}

.login-btn:hover{
    background: rgb(242, 158, 98);
    color:chocolate;
}

.login-wrapepr{
    position: relative;
    width: 400px;
    height: 400px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-wrapepr .login-form-box{
    width: 100%;
    padding: 40px;
}

.login-form-box h2{
    font-size: 2em;
    color: chocolate;
    text-align: center;
    margin-top: -60px;
}

.login-input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid chocolate;
    margin: 30px 0;
    color: rgb(242, 158, 98);
}

.login-input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: chocolate;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.login-input-box input:focus~label,.login-input-box input:invalid~label{
    top:-5px;
}

.login-input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: rgb(242, 158, 98);
    font-weight: 600;
    padding: 0 35px 0 5px;
}



.login-input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: chocolate;
    line-height: 57px;

}

.login-remember-forgot{
    font-size: .9em;
    color: chocolate;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login-remember-forgot label input{
    accent-color: chocolate;
    margin-right: 3px;
}

.login-remember-forgot a{
    color: chocolate;
    text-decoration: none;
}

.login-remember-forgot a:hover{
    text-decoration: underline;
}

.login-btn{
    width: 100%;
    height: 45px;
    background: chocolate;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: chocolate;
    font-weight: 500;
    background: transparent;
    border: 2px solid chocolate;
    outline: none;
    cursor: pointer;
    font-weight: 500;
}

.login-register{
    font-size: .9em;
    color:black;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
    color: chocolate;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}





























